<div style="border: 1px solid rgba(0, 0, 0, 0.5); border-top-left-radius: 5px; border-top-right-radius: 5px; background: none repeat scroll 0% 0% rgb(255, 255, 255); box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.9); width: 473px; height: 300px; position: absolute; top: 16px; left: 24px;" id="name-container" class="application-container  ">
	<div class="ui-widget-header">
		<div class="application-header">
			<div id="exit-name" class="application-exit"> </div>
			<div id="minimize-name" class="application-minimize"> </div>
			<div id="maximize-name" class="application-maximize"> </div>
			<div align="center"><span id="form-name" style="margin-left:-50px;">hahaha</span></div>
		</div>
	</div>
	<div id="body-name"> 
<div aria-disabled="false" style="position: absolute; border: medium none; z-index: 1; width: 70px; height: 20px; background: none repeat scroll 0% 0% rgb(255, 255, 255); top: 131px; left: 187px;" class="name-label  " onmousedown="getProperties(&quot;#name-label1&quot;)" onmouseup="getProperties(&quot;#name-label1&quot;)" onresizeend="getProperties(&quot;#name-label1&quot;)" id="name-label1">Label1</div></div>
</div>