<script src="system/widget/clock/script/coolclock.js" type="text/javascript"></script>
<script src="system/widget/clock/script/moreskin.js" type="text/javascript"></script>
<style type="text/css">
	.widget-clock{
		z-index:1;
		position:fixed;
		top:60px;
		right:30px;
		background:rgba(255,255,255,1);
		height:120px;
		width:120px;
		border-radius:100px;
		box-shadow:0 0 5px 1px rgba(0,0,0,1);
		border:5px solid #111;
	}
</style>
<div id="clock" class="widget-clock">
	<canvas class="CoolClock:Cold:60:withSeconds:+7"></canvas>
</div>
    