<div style="border: 1px solid rgba(0, 0, 0, 0.5); border-top-left-radius: 5px; border-top-right-radius: 5px; background: none repeat scroll 0% 0% rgb(255, 255, 255); box-shadow:0px 5px 20px 1px rgba(0,0,0,0.9); width: 615px; height: 300px; position: absolute; top: 10px; left: 11px;" id="runnable-container" class="application-container    ">
	<div class="ui-widget-header">
		<div class="application-header">
			<div id="exit-runnable" class="application-exit"> </div>
			<div id="minimize-runnable" class="application-minimize"> </div>
			<div id="maximize-runnable" class="application-maximize"> </div>
			<div align="center"><span id="form-name" style="margin-left:-50px;">Runnable</span></div>
		</div>
		</div>
		<div id="body-runnable"> </div>
	</div>
