<div style="border: 1px solid #999; border-top-left-radius: 5px; border-top-right-radius: 5px; box-shadow: rgba(0, 0, 0, 0) 0px 5px 20px 1px; width: 300px; height: 300px; position: relative; background: rgb(255, 255, 255);" id="jo-container" class="application-container  ">
	<div class="ui-widget-header">
		<div class="application-header">
			<div id="exit-jo" class="application-exit"> </div>
			<div id="minimize-jo" class="application-minimize"> </div>
			<div id="maximize-jo" class="application-maximize"> </div>
			<div align="center"><span id="form-name" style="margin-left:-50px;">jo</span></div>
		</div>
	</div>
	<div id="body-jo"> 

</div>