<div style="border: 1px solid rgba(0, 0, 0, 0.5); border-top-left-radius: 5px; border-top-right-radius: 5px; background: none repeat scroll 0% 0% rgb(255, 255, 255); box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.9); width: 320px; height: 260px; position: relative; left: 0px; top: 0px;" id="cam-container" class="application-container  ">
	<div class="ui-widget-header">
		<div class="application-header">
			<div id="exit-cam" class="application-exit"> </div>
			<div id="minimize-cam" class="application-minimize"> </div>
			<div id="maximize-cam" class="application-maximize"> </div>
			<div align="center"><span id="form-name" style="margin-left:-50px;">cam</span></div>
		</div>
	</div>
	<div id="body-cam"> 
        <div id="webcam" style="z-index:-1;height:240px;width:320px"></div>   
	</div>
</div>