<div style="border: 1px solid #999; border-top-left-radius: 5px; border-top-right-radius: 5px; background: none repeat scroll 0% 0% rgb(255, 255, 255); box-shadow:0px 5px 20px 1px rgba(0,0,0,0.9); width: 320px; height: 264px; position: relative; left: 50px; top: 0px; z-index: 10;" id="camera-container" class="application-container              ">
    <div class="ui-widget-header">
		<div class="application-header">
			<div id="exit-camera" class="application-exit"> </div>
			<div id="minimize-camera" class="application-minimize"> </div>
			<div id="maximize-camera" class="application-maximize"> </div>
			<div align="center"><span id="form-name" style="margin-left:-50px;">Camera</span></div>
		</div>
	</div>
	<div id="body-camera">
        <div id="webcam" style="z-index:-1;height:240px;width:320px">
        </div>
    </div>
</div>