<div style="border: 1px solid rgba(0, 0, 0, 0.5); border-top-left-radius: 5px; border-top-right-radius: 5px; background: none repeat scroll 0% 0% rgb(255, 255, 255); box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.9); width: 720px; height: 500px; position: absolute; z-index: 11; top: 10px; left: 10px;" id="system_settings-container" class="application-container      ">
	<div class="ui-widget-header">
		<div class="application-header">
			<div id="exit-system_settings" class="application-exit"> </div>
			<div id="minimize-system_settings" class="application-minimize"> </div>
			<div id="maximize-system_settings" class="application-maximize"> </div>
			<div align="center"><span id="form-name" style="margin-left:-50px;">System Settings</span></div>
		</div>
		</div>
		<div style="height: 395px; width: 720px;" id="body-system_settings"> 

</div>
	</div>
