@charset "utf-8";
/* CSS Document */
body{
	font-family:Lucida Sans, Lucida Grande, Arial, Helvetica, sans-serif;
	font-size:100%;
	background:#000;
	color:#000;
	/*text-shadow:0 0px 1px rgba(0,0,0,0.1);*/
	cursor:url(../../images/cursor/normal.cur), progress !important;
}
pr{
	white-space:pre;
}
input[type="text"]{
	outline:none;
	box-shadow:inset 0 1px 1px 0px rgba(0,0,0,0.5);
}
input[type="text"]:focus{
	outline:none;
	border:none;
	box-shadow:0 0px 5px 0px rgba(51, 173, 208, 1);
}
button{
	border-radius:20px;
	height:25px;
	width:100px;
	border:1px solid #999;
	float:right;
	margin-top:20px;
	background:url(../../images/button/aqua.png);
	color:#FFF;
	text-shadow:1px 1px 2px rgba(0,0,0,0.8);
}
button:active{
	box-shadow:inset 0 0 2px 1px rgba(50, 180, 200, 1);
}

button:hover, button:focus{
	box-shadow:inset 0px 0px 7px 1px rgba(0,0,255,1);
}

.control-button:hover, .control-button:focus{
	box-shadow:inset 0px 0px 7px 1px rgba(0,0,255,1);
}
.control-textbox:focus{
	border:1px solid #639ddc; 
}
/*--------------------------------- DESKTOP AREA ---------------------------------------*/

#desktop-background-top{
	display:block;
	height:100%;
	width:100%;
	background:rgba(0,0,0,1);
	position:fixed;
	left:0px;
	top:0px;
	z-index:90;
	opacity:1;
}

#desktop-background-middle{
	display:block;
	height:100%;
	width:100%;
	background:#000;
	position:fixed;
	left:0px;
	top:0px;
	z-index:0;
}
#desktop-background-middle2{
	display:block;
	height:100%;
	width:100%;
	background:rgba(0,0,0,0);
	position:fixed;
	left:0px;
	top:0px;
	z-index:0;
}

#desktop img{
	z-index:1;
}

.desktop-program{
	height:60px;
	width:60px;
	position:fixed;
	left:10px;
	top:10px;
	border-radius:5px;
	box-shadow:0px 2px 5px 1px rgba(0,0,0,1);
	z-index:2;
}
.desktop-program:hover{
	cursor:default;
}

.i-mouse{
	position:fixed;
	height:20px;
	width:100px;
	left:0px;
	bottom:100px;
	background:rgba(0,0,0,0.8);
	z-index:2;
	color:#FFF;
}

#apps-info{
	height:auto;
	width:auto;
	display:block;
	background:rgba(0,0,0,0.9);
	border-radius:5px;
	position:fixed;
	top:-100px;
	left:0px;
	z-index:33;
	opacity:0;
	color:#FFF;
	font-size:12px;
	padding:10px 10px 10px 10px;
}

.program{
	position:fixed;
	z-index:2;
	height:auto;
	width:auto;
	background:rgba(0,0,0,0.2);
	border:10px solid rgba(0,0,0,0.2);
	border-radius:5px;
	box-shadow:0px 3px 5px 1px rgba(0,0,0,1);	
	visibility:hidden;
}


/*--------------------------------- ICON DESKTOP AREA ---------------------------------------*/

.desktop-icon{
	height:90px;
	width:100px;
	position:fixed;
	left:0px;
	top:0px;
	padding:5px 0px 0px 0px;
	z-index:1;
	visibility:hidden;
	border-radius:5px;
	text-align:center;
}
.desktop-icon img{
	height:50px;
	width:50px;
	margin-left:0px;
	padding: 0 25px;
	padding-top:2px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border: 1px solid rgba(255,255,255,0);
}
.desktop-icon-name{
	width:100px;
	height:auto;
	font-size:13px;
	font-weight:bold;
	color:#FFF;
	border-radius:4px;
	margin-top: -5px;
	border: 1px solid rgba(255,255,255,0);
	padding: 1px;
	padding-top: 3px;
}

/*--------------------------------- MENU MINIMIZED AREA ---------------------------------------*/

.apps-image-mini{
	height:80%;
	width:80%;
	position:relative;
	left:10%;
	top:10%;
}

#show-apps-minimized{
	display:block;
	height:130px;
	width:auto;
	padding:10px;
	padding-right:0px;
	background:#FFF;
	position:fixed;
	top:250px;
	left:400px;
	border-radius:20px;
	box-shadow:0 5px 10px 1px rgba(0,0,0,0.5);
	z-index:99;
	visibility:hidden;
}

#show-apps-minimized .apps-min{
	float:left;
	display:block;
	height:90px;
	width:90px;
	padding:10px;
	position:relative;
	left:-20px;
	margin-top:15px;
	margin-left:30px;
	border-radius:15px;
	text-align:left;
	vertical-align:middle;
	transition:ease-in-out 0.1s;
}
#show-apps-minimized .apps-min:hover{
	box-shadow:0 3px 5px 0px rgba(0,0,0,0.5);
	margin-top:0px;	
}

#show-apps-minimized .apps-min img{
	height:90%;
	width:90%;
	margin-left:-5px;
	margin-top:-5px;
}

#desktop-application-search{
	height: 0;
	width: 0;
	position: fixed;
	top:0;
	left:0;
	background: rgba(0,0,0,0.9);
	z-index: -1;
	color: #FFF;
}
#text-application-search{
	width: 90%;
	position: relative;
	left:50px;
	top:30px;
	height:25px;
	background:transparent;
	border: 1px solid #CCC;
	color:#FFF;
	font-size:22px;
	font-family:Lucida Sans, Lucida Grande, Arial, Helvetica, sans-serif;	
	padding:3px;
	padding-left:40px;
	border-radius: 4px;
}
#application-search-title{
	position: relative;
	top:40px;
	left:80px;
}
#application-search-info{
	position:relative;
	top:40px;
	left: 90px;
	font-size: 11px;
	color: #CCC;
}
#application-search-container{
	position: relative;
	top:50px;
	left:50px;
	height: auto;
	width: 92%;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
#application-search-container .application-search{
	display:inline-block;
	height: 100px;
	width:110px;
	text-align: center;
	margin-left: 30px;
	margin-top: 30px;
}
#application-search-container .application-search:hover > img{
	background: #FFF;
}
#application-search-container .application-search img{
	height: 60px;
	width: 60px;
	padding: 3px;
	border-radius: 4px;
}
#application-search-container .application-search  .application-title{
	font-size: 13px;
	margin-top: -5px;
}